:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 50%;
  border: 1px solid #0e0e0e;
}

#profile-pic {
  justify-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #0e0e0e;
  margin-bottom: 1em;
  background-color: #000000;

}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #222222;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 10;
}

.nav-trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 5em;
  height: 100vh;
  z-index: 10;
}

.nav-trigger:hover+nav,
nav:hover {
  opacity: 1;
  pointer-events: auto;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background: #333333;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #989898;
}

.btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.container {
  border: 3px solid #000000;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

form input {
  margin: 5px 0;
  padding: 8px;
  width: 200px;
}


.main-table .col {
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}

.main-table .row {
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}

.main-table .row:nth-child(even) {
  background-color: #3f3f3f;
}

.main-table .row:hover {
  background-color: #5f5f5f;
}


#profile-pic {
  border-radius: 50%;
  border: 1px solid #0e0e0e;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#lobby-pic {
  width: 50px;
  height: 50px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: none;
}


#profile-pic:hover {
  border: 1px solid #ffffff;
}

.player-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}

.player-login.open {
  opacity: 1;
  z-index: 999;
}

.change-username {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}

.change-username.open {
  opacity: 1;
  z-index: 999;
}

.change-password {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}

.change-password.open {
  opacity: 1;
  z-index: 999;
}

.image-selector {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}

.image-selector .scroll-wrapper {
  overflow-y: auto;
  max-height: 40vh;
}

.image-selector.open {
  opacity: 1;
  z-index: 999;
}

.image-selector table {
  width: 100%;
}

.image-selector tr {
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.image-selector tr:hover {
  background-color: #5f5f5f;
}

.image-selector tr.selected {
  background-color: #3f3f3f;
}

.lobbies .lobby.selected {
  background-color: #3f3f3f;
}

.lobby .menu .row.selected {
  color: #00aaff;
}

.lobbies .lobby:hover {
  background-color: #5f5f5f;
}

.lobbies .lobby {
  border: 1px solid #0e0e0e;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
}

.lobby {
  width: 25em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
}

.lobby .menu {
  border : 1px solid #ff0000;
  width: 12.5em;
}

.lobby .players {
  border: 1px solid #6f00ff;
  width: 12.5em;
}

.lobby .players .scroll-wrapper {
  overflow-y: auto;
  max-height: 40vh;
}

.lobby .players .player {
  border: 1px solid #0e0e0e;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.lobby .players .player p {
  margin: 1rem;
}

.lobbies .lobby p {
  margin: 1rem;
}

.lobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.lobbies .scroll-wrapper {
  overflow-y: auto;
  max-height: 40vh;
}


#gamebox {
  background-color: #a2a2a2;
  border-radius: 10px;
  border: 1px solid #0e0e0e;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
  padding: 1em;
  min-width: min-content
}

#gamebox section {
  background-color: #9f9f9f;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 5em;
}

#gamebox aside {
  background-color: #6e6e6e;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: .5em;
  padding: 1em;
}

#gamebox #bar {
  display: flex;
  align-items: flex-start;
  gap: .5em;
  padding: 1em;
}

#gamebox #bar .symbol {
  font-weight: bold;
  font-size: 2em;
  margin: 0 0.5em;
}

#gamebox .element {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  padding: 0.5em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

#gamebox .element span:first-of-type {
  margin-right: 5px;
}

#gamebox .element span:last-of-type {
  white-space: nowrap;
}

#gamebox .element span:first-of-type img {
  width: 1.25em;
  height: 1.25em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

#gamebox .element:hover {
  filter: brightness(0.95);
}

#gamebox .element.movable {
  position: absolute;
}

#gamebox .element.dragged {
  z-index: 10;
  pointer-events: none;
}

#gamebox .element.loading {
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(0.9);
  }

  100% {
    filter: brightness(1);
  }
}